body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #212121;
}

* {
  box-sizing: border-box;
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
  font-size: 1rem;
}

ul {
  list-style: none;
  padding-left: 0;
}
